h1.titulo{
    color: whitesmoke !important;
    text-shadow: 2px 2px 6px #0057f8;
}

.table-head{
    color: whitesmoke !important;
}

body{
    background: url(../image/bg2.jpg) !important;
    font-family: 'Roboto', sans-serif;
}

#menu{
    width: 30%;
    font-size: 110%
}

#button-add{
    border: 2px solid black;
    border-radius: 10px;
}